
@inject NavigationManager Navigation
@page "/agregar"
@using Web.Helpers;
@layout NavBarLogged
@inherits LayoutComponentBase

<PageTitle>Agregar Dispositivo</PageTitle>

<style>
    #inilabel {
       font-size: 35px;
       font-weight: bold;
    }
    #tipolabel {
       font-size: 22px;
       margin-left: 1%;
       float: left;
       margin-top: 1%;
    }
    #text {
        text-align: center;
    }
    #navbar {
        margin-bottom: 2%;
    }
    #form{
        float: left;
        margin-top: 1%;
    }
    #select{
        font-size: 18px;
        margin-left: 30px;
    }

    #dispositivo {
        margin: 5% 20% 0 20%;
    }
</style>
<body>
    
    <div id="navbar"></div>
    <div id="text"> <label id="inilabel">Dar dispositivo de alta</label></div>
        <label id="tipolabel">Tipo de dispositivo:</label>
    <div id="form">
            <select @bind="dispositivo" id="select">
                <option value="vehiculo">Vehículo</option>
                <option value="transporte">Transporte</option>
                <option value="maquinaria">Maquinaria</option>
                <option value="emisionfugitiva">Emisiones Fugitivas</option>
                <option value="instalacionfija">Instalaciones Fijas</option>
                <option value="electricidad">Dispositivo eléctrico</option>
            </select>
    </div>
    <div id="dispositivo">
        @Body
    </div>

</body>

@code {
    private string? dispositivo2;
    private string? dispositivo { get { return dispositivo2; } set { dispositivo2 = value;  SelectDispositivo(); } }
    public void SelectDispositivo()
    {
        Navigation.NavigateTo("agregar/" + dispositivo2);
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        Navigation.NavigateTo("agregar/vehiculo");
    }
}
