@using API.Models;
@using Web.Services;
@page "/"
<PageTitle>Energia</PageTitle>
<h1>Hello, world!</h1>
<button type="button" @onclick="post">Click Me!</button>
<label id="labeltest">@InputValue</label>

@code{
    private string InputValue { get; set; }
    List<Hoja> listhojas = new List<Hoja>();
    [Inject]
    public ITestServices TestService { get; set; }
    public async Task post()
    {
        listhojas = (await TestService.GetAllCountries()).ToList();
        InputValue = listhojas[0].Name;
    }

}
