@page "/informes"
@inject IJSRuntime JsRuntime
@using API.Helpers;
@using API.Models;
@using API.Models.Query_Models;
@using Web.Helpers;
@using Web.Services;
@using Web.Services.InformesServices;
@using static API.Controllers.InformesControllers.InformesVehiculoController;
@layout NavBarLogged
@inject NavigationManager Navigation
@inject HttpClient Http
@using ChartJs.Blazor.PieChart

<PageTitle>Informes</PageTitle>

<style>
    #inilabel {
        font-size: 35px;
    }

    #navbar {
        margin-bottom: 2%;
    }

    #text {
        text-align: center;
    }
</style>

<body>
    <div id="navbar">
    </div>
    <div id="text"> <label id="inilabel">Información del Usuario</label></div>
    <button id="alta" @onclick="test">Añadir Nuevo Consumo</button>

    <Chart Config="_config"></Chart>

</body>

@code {
    private PieConfig _config;
    private ConsumoVehiculoId consumo = new();
    [Inject]
    public IInformeVehiculoService informeServices { get; set; }
    public async void test()
    {   
        
        //consumo = await informeServices.AllVehiculoFechas(DateTime.Now.AddMonths(-2), DateTime.Now.AddMonths(2));
    }

    private void ConfigurePieConfig()
    {
        _config = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "ChartJs.Blazor Pie Chart"
                    }
                }
            };

        foreach (string color in new[] { "Red", "Green", "Blue" })
        {
            _config.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 6, 3, 10 })
            {
                BackgroundColor = new[]
                {
            ColorUtil.ColorHexString(255, 99, 132), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        _config.Data.Datasets.Add(dataset);
    }
    protected override void OnInitialized()
    {
        ConfigurePieConfig();
    }
}