@using API.Models;
@using Web.Services;
@page "/inicio"
<PageTitle>Cálculo Huella de Carbono</PageTitle>

<div> <NavBarLogged /></div>

@code {
    //[Inject]
    //public IUsuarioServices UsuarioServices { get; set; }

    // async void SomeStartupTask()
    //{
    //     await UsuarioServices.GetUsuario();
    //}
    //protected override async Task OnInitializedAsync()
    //{
    //     await Task.Delay(1);
    //     SomeStartupTask();
    //}

}
