@using API.Models;
@using Web.Helpers;
@using Web.Services;
@inject NavigationManager Navigation
@page "/inicio"
<PageTitle>Cálculo Huella de Carbono</PageTitle>

<div> <NavBarLogged /></div>

@code {
    //[Inject]
    //public IUsuarioServices UsuarioServices { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    if (Storage.token == null)
    //    {
    //        Navigation.NavigateTo("");
    //        return;
    //    }
    //    var usuario = await UsuarioServices.GetUsuario();
    //    Storage.role = usuario.Rol;
    //}

}
