@using API.Models;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@page "/login"
<PageTitle>Login</PageTitle>

<body>
    <div id="navbar"> <NavBarNotLogged /></div>


</body>


@code {

}
