@using API.Models;
@using API.Models.Autentificacion;
@using Web.Helpers;
@using Web.Services;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject SweetAlertService Swal;
@inject ProtectedLocalStorage BrowserStorage
@inject NavigationManager Navigation
@inject HttpClient Http
@page "/login"
<PageTitle>Login</PageTitle>

<style>
    #navbar {
        margin-bottom: 6%;
    }

    #reglabel {
        font-size: 35px;
        font-weight: bold;
    }

    #text {
        text-align: center;
    }

    hr {
        border: 1px solid #000;
        margin-bottom: 25px;
        width: 100%;
    }

    .iniciarbtn {
        background-color: #78586F;
        color: white;
        padding: 16px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }


    .iniciarbtn:hover {
        opacity: 1;
    }

    .signin {
        text-align: center;
    }

    .input {
        width: 100%;
        padding: 15px 0px;
        margin: 5px 0 22px 0px;
        border: none;
        background: #C6C6C6;
    }

    .input:focus {
        background-color: #AFADAD;
        outline: none;
    }

    .input:hover {
        background-color: #AFADAD;
    }
    .container {
        margin: 0% 20% 20px 20%;
    }

    .errormsg {
        color: red;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .login {
        margin: 0 35% 0 35%;
    }
</style>

<body>
    <div id="navbar"> <NavBarNotLogged /></div>
    <div id="text"> <label id="reglabel">Iniciar Sesión</label></div>

    <div class="container">
        <hr>
        <EditForm  autocomplete="off" Model="@login" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <label for="email">Email</label>
            <InputText  class="input" id="email" placeholder="Email" @bind-Value="login.Email" />
            <ValidationMessage For="@(() => login.Email)" class="errormsg" />

            <label for="password">Contraseña</label>
            <InputText  class="input" id="password" placeholder="Contraseña" @bind-Value="login.Contraseña" />
            <ValidationMessage For="@(() => login.Contraseña)" class="errormsg" />

            <hr>
            <button class="iniciarbtn" type="submit">Iniciar Sesión</button>
        </EditForm>
    </div>

</body>


@code {
    private LoginRequest login = new LoginRequest();
    private LoginUserResponse response = new LoginUserResponse();

    [Inject]
    public IUsuarioServices UsuarioServices { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            response = await UsuarioServices.LoginUsuario(login);

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Ha habido un problema", e.Message, "error");

            return;
        }
        await Swal.FireAsync("Sesión iniciada correctamente!", "Bienvenido " + response.NombreApellidos, "success");

        await BrowserStorage.SetAsync("token", response.Token);
        await Task.Delay(500);
        var result = await BrowserStorage.GetAsync<string>("token");
        var currentInputValue = result.Success ? result.Value : "";
        Storage.token = currentInputValue;
        UsuarioServices = new UsuarioServices(Http);
        var rol= await UsuarioServices.GetUsuario();

        Storage.role = rol.Rol;
        Navigation.NavigateTo("inicio");
        
    }
    protected override async Task OnInitializedAsync()
    {
        UsuarioServices = new UsuarioServices(Http);
    }
}
