<style>
    body {
        margin: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffd966;
        border-bottom: 1px solid #000;
        top: 0;
        width: 100%;
    }

    li {
        float: left;
    }

    #appname {
        background-color: #ffd966;
        display: block;
        color: black;
        text-align: center;
        padding: 20px 100px 0px 30px;
        text-decoration: none;
        font-size: 24px;
    }

    a {
        display: block;
        font-size: 20px;
        color: black;
        text-align: center;
        padding: 20px 40px;
        text-decoration: none;
    }
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: cornflowerblue;
    }
    .active {
        background-color: #04AA6D;
    }
</style>
<body>
    <ul>
        <li><label id="appname">Web Cálculo Huella de Carbono</label></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="login">Iniciar Sesión</a></li>
        <li><a href="registerorg">Registrar Empresa</a></li>
        <li><a href="inicio"> Login</a></li>


    </ul>

</body>

@code {

}
