@page "/informes/emisionfugitiva/{id:int}"
@using API.Helpers;
@using API.Models;
@using API.Models.Query_Models;
@using Web.Helpers;
@using Web.Services;
@using Web.Services.InformesServices;
@layout Informes
@inject NavigationManager Navigation
@inject HttpClient Http


<style></style>

<body></body>

@code {
    [Parameter]
    public int id { get; set; }

    protected async override void OnInitialized()
    {
        ConsumoEmisionesFugitivasId consumo;
        List<ConsumoMesEmisionesFugitivas> consumoMes;
        switch (id)
        {
            case 0: consumo = Storage.ConsumoEmisionesFugitivas; break;
            case 1: consumo = Storage.ConsumoEmisionesFugitivas; break;
            case 2: consumoMes = Storage.ConsumoMesEmisionesFugitivas; break;
        }
    }
}
