@page "/informes/vehiculo/{id:int}"
@using API.Helpers;
@using API.Models;
@using API.Models.Query_Models;
@using Web.Helpers;
@using Web.Services;
@using Web.Services.InformesServices;
@layout Informes
@using static API.Controllers.InformesControllers.InformesVehiculoController;


<style></style>

<body></body>

@code {
    [Parameter]
    public int id { get; set; }

    [Inject]
    public IInformeVehiculoService informeServices { get; set; }

    protected async override void OnInitialized()
    {
        ConsumoCombustibleId test;
        List<ConsumoMes> consumoMes;
        switch (id)
        {
            case 0: test = Storage.consumoVehiculoId; break;
            case 1: test = Storage.consumoVehiculoId; break;
            case 2: consumoMes = Storage.consumoMes; break;
        }
    }
}
