@inject NavigationManager Navigation
@page "/gestion/emisionesfugitivas"
@using API.Models;
@using Microsoft.AspNetCore.Components.Web.Virtualization;
@using Web.Helpers;
@using Web.Services;
@layout GestionDispositivos
@inject SweetAlertService Swal;
@inject HttpClient Http


<PageTitle>Gestion EmisionesFugitivas</PageTitle>

<style>
    h1 {
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    thead {
    }

    .tbl-content thead th {
        position: sticky;
        background-color: #A37897;
        top: 0px;
        border-bottom: solid 1px black;
    }

    .tbl-content {
        height: 600px;
        overflow-x: auto;
        margin-top: 0px;
        border-collapse: collapse;
    }

    th {
        padding: 20px 10px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        color: #000;
        text-transform: uppercase;
        border-top: solid 2px black;
        border-right: solid 1px black;
    }

    td {
        padding: 15px;
        text-align: center;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        color: #000;
        border-right: solid 1px black;
        text-align: center;
        background-color: #DDC8E2;
    }

    #filtro {
        width: 100%;
        padding: 10px 0px;
        background-color: #A37897;
        border-radius: 10px 10px 0 0;
    }

    #input {
        padding: 2.5px 20px
    }

    .botones {
        padding: 15% 20%;
    }

    .headerbuttons {
        padding: 20px 0px;
        width: 7%;
        text-align: center;
    }
</style>

<body>
    <h1>Lista de EmisionesFugitivass</h1>

    <div id="filtro">
        <label id="tipolabel">Filtrar:</label>

        <select @bind="tipofiltro" id="select">
            <option value="id">ID</option>
            <option value="nombre">NombreEquipo</option>
            <option value="edificio">Edificio / Sede</option>

        </select>
        <input id="input" placeholder="Buscar" @bind="filtrocat" />
        <button id="button" @onclick="Filtrar">Filtrar</button>

    </div>


    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">

            <thead>
                <tr>
                    <th>Id EmisionesFugitivas</th>
                    <th>Nombre del Equipo</th>
                    <th>Edificio</th>
                    @if (Storage.role == API.Helpers.Role.OrgAdmin)
                    {
                        <th class="headerbuttons">Modificar</th>
                        <th class="headerbuttons">Eliminar</th>
                    }
                    <th class="headerbuttons">Ver Consumos</th>
                </tr>
            </thead>
            <Virtualize Items="@listashow" Context="emisionesfugitivas">
                <tbody>
                    <tr>
                        <td>@emisionesfugitivas.Id</td>
                        <td>@emisionesfugitivas.NombreEquipo</td> 
                        <td>@emisionesfugitivas.Edificio</td>
                        @if (Storage.role == API.Helpers.Role.OrgAdmin)
                        {
                            <td><button class="botones" @onclick="(() => Modificar(emisionesfugitivas.Id))">M</button></td>
                            <td><button class="botones" @onclick="(() => Eliminar(emisionesfugitivas.Id, emisionesfugitivas))">X</button></td>
                        }
                        <td><button class="botones" @onclick="(() => VerConsumos(emisionesfugitivas.Id))">C</button></td>
                    </tr>

                </tbody>
            </Virtualize>
        </table>
    </div>

</body>

@code {
    List<EmisionesFugitivasDTO> lista = new List<EmisionesFugitivasDTO>();
    List<EmisionesFugitivasDTO> listashow = new List<EmisionesFugitivasDTO>();
    string tipofiltro = "id";
    string filtrocat = "";

    [Inject]
    public IEmisionesFugitivasServices emisionesfugitivasServices { get; set; }

    public void Modificar(int id)
    {
        Navigation.NavigateTo("/modificar/emisionesfugitivas/" + id);
    }

    public async void Eliminar(int id, EmisionesFugitivasDTO emisionesfugitivas)
    {
        try
        {
            await emisionesfugitivasServices.DeleteEmisionesFugitivas(id);
        }
        catch (Exception e)
        {
                        await Swal.FireAsync("Ha habido un problema", e.Message, "error");
            return;
        }
        await Swal.FireAsync($"Emisión fugitiva con id {id} eliminado correctamente", null, "success");
        listashow.Remove(emisionesfugitivas);
        lista.Remove(emisionesfugitivas);
        StateHasChanged();
    }

    public void VerConsumos(int id)
    {
        Navigation.NavigateTo("/consumo/emisionesfugitivas/" + id);
    }

    public void Filtrar()
    {
        listashow.Clear();
        if (filtrocat.Equals(""))
        {
            listashow.AddRange(lista);
            return;
        }
        foreach (var emisionesfugitivas in lista)
        {
            switch (tipofiltro)
            {
                case "id":
                    if (emisionesfugitivas.Id.ToString().Contains(filtrocat))
                    {
                        listashow.Add(emisionesfugitivas);
                    }
                    break;
                case "nombre":
                    if (emisionesfugitivas.NombreEquipo is not null && emisionesfugitivas.NombreEquipo.Contains(filtrocat))
                    {
                        listashow.Add(emisionesfugitivas);
                    }
                    break;
                case "edificio":
                    if (emisionesfugitivas.Edificio is not null && emisionesfugitivas.Edificio.Contains(filtrocat))
                    {
                        listashow.Add(emisionesfugitivas);
                    }
                    break;
            }

        }
        StateHasChanged();
    }

    async void GetEmisionesFugitivasList()
    {
        lista = await emisionesfugitivasServices.GetEmisionesFugitivas();

        listashow.AddRange(lista);
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        emisionesfugitivasServices = new EmisionesFugitivasServices(Http);
        GetEmisionesFugitivasList();
    }
}
