@inject NavigationManager Navigation
@page "/gestion/instalacionesfijas"
@using API.Models;
@using Microsoft.AspNetCore.Components.Web.Virtualization;
@using Web.Helpers;
@using Web.Services;
@layout GestionDispositivos
@inject IJSRuntime JsRuntime
@inject HttpClient Http


<PageTitle>Gestion InstalacionesFijas</PageTitle>

<style>
    h1 {
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    thead {
    }

    .tbl-content thead th {
        position: sticky;
        background-color: aqua;
        top: 0px;
        border-bottom: solid 1px black;
    }

    .tbl-content {
        height: 600px;
        overflow-x: auto;
        margin-top: 0px;
        border-collapse: collapse;
    }

    th {
        padding: 20px 10px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #000;
        text-transform: uppercase;
        border-top: solid 2px black;
        border-right: solid 1px black;
    }

    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        color: #000;
        border-right: solid 1px black;
        text-align: center;
        background-color: aquamarine;
    }

    #filtro {
        width: 100%;
        padding: 10px 0px;
        background-color: aqua;
    }

    #input {
        padding: 2.5px 20px
    }

    .botones {
        padding: 15% 20%;
    }

    .headerbuttons {
        padding: 20px 0px;
        width: 7%;
        text-align: center;
    }
</style>

<body>
    <h1><b>Lista de Instalaciones Fijas</b></h1>

    <div id="filtro">
        <label id="tipolabel"><b>Filtrar:</b></label>

        <select @bind="tipofiltro" id="select">
            <option value="id">ID</option>
            <option value="nombre">Nombre</option>
            <option value="edificio">Edificio / Sede</option>

        </select>
        <input id="input" placeholder="Buscar" @bind="filtrocat" />
        <button id="button" @onclick="Filtrar">Filtrar</button>

    </div>


    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">

            <thead>
                <tr>
                    <th>Id InstalacionesFijas</th>
                    <th>Nombre</th>
                    <th>Edificio</th>
                    <th class="headerbuttons">Modificar</th>
                    <th class="headerbuttons">Eliminar</th>
                    <th class="headerbuttons">Ver Consumos</th>


                </tr>
            </thead>
            <Virtualize Items="@listashow" Context="instalacionfija">
                <tbody>
                    <tr>
                        <td>@instalacionfija.Id</td>
                        <td>@instalacionfija.Nombre</td>
                        <td>@instalacionfija.Edificio</td>
                        <td><button class="botones" @onclick="(() => Modificar(instalacionfija.Id))">M</button></td>
                        <td><button class="botones" @onclick="(() => Eliminar(instalacionfija.Id, instalacionfija))">X</button></td>
                        <td><button class="botones" @onclick="(() => VerConsumos(instalacionfija.Id))">C</button></td>
                    </tr>

                </tbody>
            </Virtualize>
        </table>
    </div>

</body>

@code {
    List<InstalacionesFijasDTO> lista = new List<InstalacionesFijasDTO>();
    List<InstalacionesFijasDTO> listashow = new List<InstalacionesFijasDTO>();
    string tipofiltro = "id";
    string filtrocat = "";

    [Inject]
    public IInstalacionesFijasServices instalacionfijaServices { get; set; }

    public void Modificar(int id)
    {
        Navigation.NavigateTo("/modificar/instalacionfija/" + id);
    }

    public async void Eliminar(int id, InstalacionesFijasDTO instalacionfija)
    {
        try
        {
            await instalacionfijaServices.DeleteInstalacionesFijas(id);
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("alert", e.Message);
            return;
        }
        await JsRuntime.InvokeVoidAsync("alert", $"InstalacionesFijas con id {id} eliminado correctamente");
        listashow.Remove(instalacionfija);
        lista.Remove(instalacionfija);
        StateHasChanged();
    }

    public void VerConsumos(int id)
    {
        Navigation.NavigateTo("/consumo/instalacionesfijas/" + id);
    }

    public void Filtrar()
    {
        listashow.Clear();
        if (filtrocat.Equals(""))
        {
            listashow.AddRange(lista);
            return;
        }
        foreach (var instalacionfija in lista)
        {
            switch (tipofiltro)
            {
                case "id":
                    if (instalacionfija.Id.ToString().Contains(filtrocat))
                    {
                        listashow.Add(instalacionfija);
                    }
                    break;
                case "nombre":
                    if (instalacionfija.Nombre is not null && instalacionfija.Nombre.Contains(filtrocat))
                    {
                        listashow.Add(instalacionfija);
                    }
                    break;
                case "edificio":
                    if (instalacionfija.Edificio is not null && instalacionfija.Edificio.Contains(filtrocat))
                    {
                        listashow.Add(instalacionfija);
                    }
                    break;
            }

        }
        StateHasChanged();
    }

    async void GetInstalacionesFijasList()
    {
        lista = await instalacionfijaServices.GetInstalacionesFijas();

        listashow.AddRange(lista);
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
        instalacionfijaServices = new InstalacionesFijasServices(Http);

        GetInstalacionesFijasList();
    }
}
