@inject NavigationManager Navigation
@page "/modificarconsumo"
@using Web.Helpers;
@layout NavBarLogged
@inherits LayoutComponentBase
@inject HttpClient Http

<PageTitle>Modificar Consumo</PageTitle>

<style>
    #inilabel {
        font-size: 35px;
    }

    #text {
        text-align: center;
    }

    #navbar {
        margin-bottom: 2%;
    }

    #dispositivo {
        margin: 3% 20% 0 20%;
    }
</style>
<body>

    <div id="navbar"></div>
    <div id="text"> <label id="inilabel"><b>Modificar Consumo</b></label></div>
    <div id="dispositivo">
        @Body
    </div>

</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (Storage.token == null)
        {
            Navigation.NavigateTo("");
            return;
        }
    }
}
